.header {

    padding: 15px 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}


.form {
    width: 400px;
    display: flex;
    gap: 25px;
    position: relative;
    margin: 0 auto;
}

.input {
    background-color: #eee;
    border-radius: 12px;
    width: 100%;
    height: 40px;
    border: 2px solid transparent;
    padding-left: 20px;
    outline: transparent;
    transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;

}

.input:hover,
.input:focus {
    border-color: #000dff96;
}

.button {
    background-color: #eee;
}